.header {
  background: var(--serenade);
  &__wrapper {
    display: flex;
    align-items: center;
    padding: 96px 0;
  }
  &__left {
    display: flex;
    flex-direction: column;
    width: 625px;
    margin-right: 251px;
  }
  &__left h2 {
    margin-bottom: 24px;
  }
  &__left p {
    opacity: 0.6;
    margin-bottom: 40px;
  }
  &__right {
    display: flex;
    flex-direction: column;
  }
  &__right a {
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }
}
.caption {
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

@media (max-width: 1230px) {
  .header {
    &__left {
      width: 300px;
      padding: 0 20px;
    }
    &__wrapper {
      justify-content: space-evenly;
    }
  }
}

@media (max-width: 800px) {
  .header {
    &__wrapper{
      flex-direction: column;
      padding: 30px 0;
    }
    &__left {
      width: unset;
      margin: 0 0 30px 0;
      padding: 0;
    }
    &__right{
      align-items: center;
    }
    &__right a{
      font-size: 20px;
      margin-bottom: 8px;
    }
  }
  }
  .button{
    margin: 0 auto;
  }

