.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;

  padding: 20px 32px;
  height: 64px;
  background: #444cfc;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  &__decor {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__text {
    color: #fff;
  }
}
.button:hover,
.button:focus {
  opacity: 0.8;
}

.button:active {
  opacity: 0.5;
}

@media (max-width: 420px) {
  .button {
    height: 45px;
    &__text{
      font-size: 13px;
    }
    &__decor {
      width: 23px;
  }
  }
}
