.about {
  padding: 120px 0 98px;

  &__wrapper {
  }
}

.about-top {
  margin-bottom: 48px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__left {
    width: 640px;
  }

  &__right {
    width: 547px;
    padding-top: 10px;
  }
  &__right h3 {
    margin-bottom: 16px;
  }
}
.caption {
  margin-bottom: 16px;
}
.about-bottom {
  &__images {
    display: flex;
    margin-bottom: 48px;
  }

  &__images img:not(:first-child):not(:last-child) {
    margin-left: 11px;
  }

  &__numbers {
    height: 96px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.box-left {
  display: flex;
  column-gap: 67px;
}
.number {
  display: flex;
  flex-direction: column;
}
.number h3 {
  margin-bottom: 8px;
}
.number img {
  margin-bottom: 4px;
  width: 72px;
  height: 6px;
}

@media (max-width: 1340px) {
  .about-top {
    &__inner {
      align-items: center;
      flex-direction: column;
    }
  }
  .about-bottom {
    &__numbers {
      margin: 0 100px;
    }

    &__images {
      flex-direction: column;
      align-items: center;
    }

    &__images img {
      margin: 10px;
      width: 90%;
    }
    &__images img:last-child {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .about-bottom__inner {
    flex-direction: column;
  }
  .box-left {
    column-gap: 53px;
    margin-bottom: 30px;
  }
}

@media (max-width: 420px) {
  .about {
    padding: 30px 0 0;
  }
  .about-top__left,
  .about-top__right {
    width: 372px;
    margin: 0 auto;
  }

  .about-top__left {
    margin-bottom: 10px;
  }

  .about-bottom {
    margin-bottom: 40px;
    &__inner {
      flex-direction: column;
    }
    &__images img {
      margin: 10px 0;
      width: unset;
    }
    &__images img:not(:first-child):not(:last-child) {
      margin-left: unset;
    }

    &__numbers {
      margin: unset;
    }
  }
  .box-left {
    column-gap: 20px;
    margin-bottom: 20px;
  }
}
