.support {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 96px;
  }

  &__text {
    width: 625px;
  }
  &__title {
    opacity: 0.9;
    margin-bottom: 16px;
  }
  &__desc {
    opacity: 0.6;
  }
  &__backgroundWhite {
    background: var(--white);
  }
  &__backgroundAzure {
    background: var(--azure);
  }
  &__backgroundGhost {
    background: var(--ghost);
  }
}

@media (max-width: 1230px) {
  .support {
    &__box {
      flex-direction: column;
      padding: 40px 0;
    }
    &__subtitle,
    &__desc {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 800px) {
  .support {
    &__text {
      width: unset
    }
  }
}
