.process {
  padding: 96px 0;

  &__wrapper {
    display: flex;
    flex-direction: column;

    position: relative;
  }

  &__top {
    display: flex;
    flex-direction: column;
    width: 733px;
  }
  &__title {
    // width: 733px;
    margin-bottom: 16px;
  }
  &__text {
    // width: 642px;
    margin-bottom: 68px;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
  }
}




.box {
  display: flex;
  flex-direction: column;

  width: 394px;
  padding: 12px 16px 32px 32px;
  border: 1px solid rgba(35, 37, 54, 0.17);
  &__inner {
    display: flex;
    align-items: flex-start;
    column-gap: 28px;
  }
  &__decorBottom {
    position: absolute;
    bottom: -9px;
    left: 0;
  }
  &__decorTop {
    position: absolute;
    top: -9px;
    left: 0;
  }
}
.line {
  margin-bottom: 48px;
}
.box:nth-child(5) {
  width: 394px;
}
.box:nth-child(10) {
  width: 394px;
}
.box:nth-child(-n + 5) {
  margin-bottom: 48px;
}

.box:first-child {
  position: relative;
}
.box:last-child {
  position: relative;
}

.shape {
  position: absolute;
  top: 0;
  right: 0;
}
.caption {
  margin-bottom: 16px;
}

.step {
  color: var(--black);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3; /* 133.333% */
  opacity: 0.2;
  text-align: right;
}

@media (max-width: 1340px) {
  .process {
    &__wrapper {
      align-items: center;
    }
    &__top {
      width: 640px;
    }
    &__bottom {
      justify-content: center;
    }
  }
  .line {
    display: none;
  }
  .box {
    margin: 48px;
  }
}

@media (max-width: 800px) {
  .process {
    &__top {
      width: unset;
    }
  }
}

@media (max-width: 420px) {
  .process {
    padding: 30px 0;
    &__top {
      align-items: center;
      width: 372px;
    }
    &__top .text {
      margin-bottom: 30px;
    }
    &__bottom {
      width: 372px;
    }
  }
  .box {
    margin: 0 0 30px 0;
    padding: 20px;
  }
  .box:nth-child(-n + 5) {
    margin: 0 0 30px 0;
  }

  .box .step {
    position: absolute;
    right: 20px;
  }

  .top {
    &__title,
    &__text {
      margin-bottom: 20px;
    }
  }
}
