.team {
  &__title {
    width: 624px;
    margin-bottom: 24px;
  }
  &__text {
    width: 505px;
    margin-bottom: 64px;
  }
  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.member {
  position: relative;
  width: 320px;
  height: 320px;
 
 

  &__textInfo {
    padding: 168px 48px 48px 48px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;

    border: 1px solid #000;
    opacity: 0.9;
    background: rgba(35, 37, 54, 0.99);
    display: none;
  }
  &__title{
    margin-bottom: 8px;
  }
  &__text{
    margin-bottom: 25px;
    opacity: 0.7;
    font-size: 14px;
  }
  &__title,
  &__text {
    color: var(--white);
  }
  &__social {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
}

.member:hover .member__textInfo {
  display: block;
}

@media (max-width: 1340px) {
    .team{
        &__wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        }
}

@media (max-width: 800px) {
  .team{
    &__title,  &__text {
      width: unset;
    }
    &__text {
      margin-bottom: 30px;
    }

  }
  .member{
   display: flex;
  }
  .member:not(:last-child){
    margin-bottom: 15px;
  }
  .member:last-child{

    margin-bottom: 30px;
  }
  
}