.header {
  background-color: var(--background-header);
  color: var(--text-header);


  &__inner {
    display: flex;
    justify-content: space-between
  }
}

.text {
  max-width: 624px;
  padding-top: 152px;
  &__decor {
    margin-bottom: 24px;
  }

  &__decor div {
    background: rgba(255, 255, 255, 0.06);
    width: 24px;
    height: 24px;
  }

  &__title {
    margin-bottom: 24px;
  }
  &__info {
    width: 528px;
    margin-bottom: 32px;
    opacity: 0.6;
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;

    padding: 20px 32px;
    height: 64px;
    background: #444cfc;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
  }
  &__button-decor {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__button:hover,
  &__button:focus {
    opacity: 0.8;
  }

  &__button:active {
    opacity: 0.5;
  }
}

.image {
    display: flex;
   margin-top: 96px;

    &__left {
        position: relative;
        top: 530px;
       
        width: 16px;
        height: 102px;
     
    }

    &__right {
        background-image: url(../../assets/img/Home/Header/Shapes.svg);
       background-size: cover;
        background-repeat: no-repeat;
        width: 24px;
        height: 322px;
    
    }
}
.image-centr {
}