.navbar {
  background-color: var(--background-navbar);

  &__wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    column-gap: 32px;
  }
  &__clone a {
    color: var(--clone-text);
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
}

.nav-list {
  display: flex;
  column-gap: 32px;

  &__link:active {
    opacity: 0.8;
  }
  &__link--active {
    position: relative;
  }
  &__link--active::before {
    content: '';

    position: absolute;
    left: 0;
    top: -125%;

    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--active);
  }

  &__item a {
    color: var(--text-navbar);
  }
}

