.mobile-button{
  display: none;
}
.navbar {
  background-color: var(--background-navbar);

  &__wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    column-gap: 32px;
  }
  &__clone a {
    color: var(--clone-text);
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
}

.nav-list {
  display: flex;
  column-gap: 32px;

  &__link:active {
    opacity: 0.8;
  }
  &__link--active {
    position: relative;
  }
  &__link--active::before {
    content: '';

    position: absolute;
    left: 0;
    top: -125%;

    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--active);
  }

  &__item a {
    color: var(--text-navbar);
  }
}

@media (max-width: 900px) {
 .mobile-button{
    display: block;
  }
  .navbar {
    &__wrapper {
      justify-content: center;
    }
    &__nav {
      display: none;
    }
    &__logo {
      position: relative;
      z-index: 99;
    }
    &__logo img {
      width: 240px;
    }
  }
}
@media (max-width: 420px) {
  .navbar {
    &__logo img {
      width: 130px;
    }
  }
}
