.logoBar{
    background: #FAFAFC;
    &__wrapper{
        display: flex;
        column-gap: 32px;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 96px;
    }
}

@media (max-width: 800px) {
    .logoBar{
        &__wrapper{
            margin-bottom: 30px;
        }
    }
}