.header {
  padding: 96px 0;
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__decor {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__top{
    width: 625px;
   
  }
  &__title{
    margin-bottom: 24px;
  }
  &__text{
    margin-bottom: 64px;
    opacity: 0.8;
  }
  &__imageText{
    margin-bottom: 52px;
  }
  &__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
}
@media (max-width: 800px) {
    .header{
        &__decor{
            display: none;
        }
        &__top{
            width: unset;
        }
    }
  }